/* Estilos gerais */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

/* Estilos da seção "Sobre Nós" */
.about {
    background-color: #f0f0f0;
    padding: 40px;
}

/* Estilos da seção "Contato" */
.contact {
    padding: 40px; 
 };

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* input[type="text"],
input[type="email"], */
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
} 
